<!doctype html>
<html>
    <head>
        <meta charset="utf-8"?>
        <title>Counter</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div id="wrapper">    
            <h2>Congrats!</h2>
            <h4>The correct number was {{correct}}!</h4>
            <h4>Guesses: {{count}}</h4>
            <form action="/reset">
                <input type="submit" value="Play Again">
            </form>
        </div>
    </body>
</html>